*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    background-color: #2c3e50;
}

.ms_70px{
    height: 70px;
}

.ms_col-style{
    color: white;
    font-size: 25px;
    align-self: center;
}

main{
    text-transform: uppercase;
}

/* Sezione jumbotron*/
.ms_bgGreen{
    background-color: #1abc9c;
}

.ms_bgGreen img{
    max-width: 30%;
    /* position: relative;
    left: 50%;
    transform: translate(-50%); */
}

.ms_titolo{
    color: white;
    font-size: 50px;
}

.ms_white{
    color: white;
}

.bi.bi-dash-lg{
    font-size: 80px;
    color: white;
}

.bi.bi-star-fill{
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 15px;
}


/* sezione portfolio*/
.ms_portfolio{
    width: 100%;
}

p{
    text-align: left;
}


/* Sezione FORM*/
.FORM{
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.ms_input{
    border: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}


/* Sezione Footer*/
footer .body{
    width: 100%;
    background-color: #3a546d;
    color: white;
}

.final{
    background-color: #2c3e50;
    height: 50px;
}